body {
  font-size: 1em;
}

.loginContainer {
  overflow: hidden;
  background-color: #000;
  position: relative;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    background-image: 
    url(../img/Polygon.big.yellow.svg), 
    url(../img/Polygon.big.purple.svg), 
    url(../img/polygon.small.purple.1.svg),// right bottom p urple
    url(../img/polygon.small.purple.2.svg), // right top purple
    url(../img/polygon.small.purple.3.svg), // left bottom purple
    url(../img/polygon.small.yellow.1.svg); // bottom yellow
    background-position: 
    top 0 left 0,
    top 0 left 0, 
    top 70% right 0, 
    top 10% right 5%,
    bottom 20% left 0,
    bottom 0 right 20%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .loginHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 292px;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loginIcon {
      width: 100%;
      max-width: 114px;
      margin: 0 auto;
    }

    .loginForm {
      display: flex;
      flex-direction: column;
    }

    .loginForm input {
      color: #fff;
      font-style: italic;
      outline: none;
      border: none;
      border-bottom: 1px solid #faff00;
      background-color: inherit;
      padding: 10px 0 5.5px 9.5px;
      margin-top: 22.5px;
    }

    .loginForm input:focus {
      color: #fff;
    }

    #loginSubmit {
      color: #000;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;
      font-weight: 900;
      width: 100%;
      max-width: 116px;
      margin: 0 auto;
      margin-top: 49px;
      padding: 8px 35px;
      background-color: #faff00;
    }

    .loginFailed {
      color: red;
      font-size: 0.9em;
      text-align: center;
      padding: 5px;
    }
  }
}

.triangles {
  list-style: none;

  .big {
    position: absolute;
    transform: rotate(44.26deg);
  }

  .yellowTriLarge {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid #faff00;
    top: -126px;
    left: -80px;
    z-index: 1000;
  }

  .purpleTriLarge {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #dd00f0;
    top: -50px;
    left: -50px;
  }

  .small {
    position: absolute;
  }

  .yellowTriSmall1 {
    width: 100%;
    max-width: 81px;
    border-left: 50px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid rgba(255, 255, 0, 0.8);
    transform: rotate(41.26deg);
    bottom: -15px;
    right: 100px;
  }

  .purple {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 55px solid rgba(221, 0, 240, 0.7);
  }

  .purpleTriSmall1 {
    width: 100%;
    max-width: 71px;
    transform: rotate(-17deg);
    top: 63px;
    right: 47px;
  }

  .purpleTriSmall2 {
    width: 100%;
    max-width: 71px;
    transform: rotate(42deg);
    top: 75%;
    right: -40px;
  }

  .purpleTriSmall3 {
    width: 100%;
    max-width: 71px;
    transform: rotate(50deg);
    top: 85%;
    left: -25px;
  }
}
